 *{
    margin:0;
    padding:0;
}
html,body,div.banner{
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: rgb(190, 49, 14);
}
div.banner{
    background-image: url("2022.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
     


div > p {
    position: absolute;
top: 3%;
left: 50%;
transform: translateX(-50%);
border-bottom: 2px solid;
font-size: 30px;
padding: 10px;
border-top: 2px solid;
}
.txt {
position: absolute;
bottom: 19%;
left: 50%;
transform: translateX(-50%);
color: #428f24;
font-size: 35px;

}